{{ define "sickLists"}}
{{template "header"}}
    <form action="/add" method="post">
            Номер больничного листа<input type="text" name="sickList" required>
            Фамилия:<input type="text" name="lastName" required>
            Имя:<input type="text" name="firstName" required>
            Отчество:<input type="text" name="middleName">
            СНИЛС:<input type="text" name="snils">
            Стаж:<input type="text" name="stazh">
            <input type="submit" value="Добавить">
    </form>
    <br>
    <table id="ttt">
        <thead>
            <tr>
                <th>Номер БЛ</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>СНИЛС</th>
                <th>Стаж</th>
                <th>ЛПУ</th>
                <th>Дата изменения</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            {{range .SLs }}
                <tr>
                    <td>{{.SickList}}</td>
                    <td>{{.LastName}}</td>
                    <td>{{.FirstName}}</td>
                    <td>{{.MiddleName}}</td>
                    <td>{{.Snils}}</td>
                    <td>{{.Stazh}}</td>
                    <td>{{.Lpu}}</td>
                    <td>{{.Date}}</td>
                    <td>
                        <a href="/edit?id={{.Id.Hex}}">Редактировать</a>
                        {{if (eq $.UserLpu "")}}
                            {{if .Pass}}
                            
                            {{else}}
                            <a href="/passSL?id={{.Id.Hex}}">Отработать</a>
                            {{end}}
                        {{end}}
                    </td>
                </tr>
            {{end}}
        </tbody>
        </table>
        
<script>
        $(document).ready(function() { 
                $(".tablesorter").tablesorter();                 
        } ); 
</script>
        {{template "footer"}}
{{ end }}