{{define "header"}}
<!DOCTYPE html>
<html lang="">
<head>
<title>Больничные листы</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
<script type="text/javascript" src="layout/scripts/jquery.js"></script> 
<script type="text/javascript" src="layout/scripts/tablesorter.js"></script> 
</head>
<body id="top">
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1><a href="#">Здравоохранение Анапы</a></h1>
    </div>
    <div id="quickinfo" class="fl_right">
      <ul class="nospace inline">
        <li><strong></strong><br>
          </li>
        <li><strong></strong><br>
          </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </header>
</div>

<div class="wrapper row2">
  <nav id="mainav" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <ul class="clear">
      <li class="active"><a href="add">Больничные листы</a></li>
      <li><a href="logout">Выход</a></li>
    </ul>
    <!-- ################################################################################################ -->
  </nav>
</div>

<div class="wrapper row3">
  <main class="hoc container clear"> 
  {{end}}