


<!DOCTYPE html>
<html lang="">
<head>
<title>Больничные листы</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
<script type="text/javascript" src="layout/scripts/jquery.js"></script> 
<script type="text/javascript" src="layout/scripts/tablesorter.js"></script> 
</head>
<body id="top">

<div class="wrapper row1">
  <header id="header" class="hoc clear"> 
    
    <div id="logo" class="fl_left">
      <h1><a href="#">Здравохранение Анапы</a></h1>
    </div>
    <div id="quickinfo" class="fl_right">
      <ul class="nospace inline">
        <li><strong></strong><br>
          </li>
        <li><strong></strong><br>
          </li>
      </ul>
    </div>
    
  </header>
</div>

<div class="wrapper row2">
  <nav id="mainav" class="hoc clear"> 
    
    <ul class="clear">
      <li class="active"><a href="add">Работа со списком</a></li>
      <li><a href="logout">Выход</a></li>
    </ul>
    
  </nav>
</div>

<div class="wrapper row3">
  <main class="hoc container clear"> 
  
    <form action="/add" method="post">
            Номер больничного листа<input type="text" name="sickList">
            Фамилия:<input type="text" name="lastName">
            Имя:<input type="text" name="firstName">
            Отчество:<input type="text" name="middleName">
            СНИЛС:<input type="text" name="snils">
            Стаж:<input type="text" name="stazh">
            <input type="submit" value="Добавить">
    </form>
    <br>
    <table id="ttt" class="tablesorter">
        <thead>
            <tr>
                <th>Номер БЛ</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>СНИЛС</th>
                <th>Стаж</th>
                <th>ЛПУ</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            
                <tr>
                    <td>1</td>
                    <td>fam</td>
                    <td>im</td>
                    <td>otchestvo- ott</td>
                    <td></td>
                    <td></td>
                    <td>lpu</td>
                    <td><a href="/edit?id=5b74375aec66152b3aa5d66c">Редактировать</a></td>
                </tr>
            
                <tr>
                    <td>2</td>
                    <td>fam2</td>
                    <td>im2</td>
                    <td>otch2</td>
                    <td></td>
                    <td></td>
                    <td>lpu2</td>
                    <td><a href="/edit?id=5b743768ec66152b3aa5d66d">Редактировать</a></td>
                </tr>
            
                <tr>
                    <td>3</td>
                    <td>Иванов</td>
                    <td>Иван</td>
                    <td>Иваныс</td>
                    <td></td>
                    <td></td>
                    <td>ЦБУ</td>
                    <td><a href="/edit?id=5b7437cfec66152bc8a5eead">Редактировать</a></td>
                </tr>
            
                <tr>
                    <td>4</td>
                    <td>Petrov</td>
                    <td>Petr</td>
                    <td>Petrovich</td>
                    <td></td>
                    <td></td>
                    <td>lpu</td>
                    <td><a href="/edit?id=5b752927ec661531444269e7">Редактировать</a></td>
                </tr>
            
                <tr>
                    <td>5-5</td>
                    <td>z</td>
                    <td>zz</td>
                    <td>zzz</td>
                    <td></td>
                    <td></td>
                    <td>COZ</td>
                    <td><a href="/edit?id=5b752961ec6615319a6e847a">Редактировать</a></td>
                </tr>
            
                <tr>
                    <td>6</td>
                    <td>w</td>
                    <td>ww</td>
                    <td>ww</td>
                    <td></td>
                    <td></td>
                    <td>lpu2</td>
                    <td><a href="/edit?id=252178284d495353494e47292c2062">Редактировать</a></td>
                </tr>
            
                <tr>
                    <td>7</td>
                    <td>Фамилия</td>
                    <td>Имя</td>
                    <td>Отчество</td>
                    <td></td>
                    <td></td>
                    <td>ЦОЗ</td>
                    <td><a href="/edit?id=5b7811fdec66154472a15d24">Редактировать</a></td>
                </tr>
            
                <tr>
                    <td>6575</td>
                    <td>прарпоа</td>
                    <td>варп</td>
                    <td>апра</td>
                    <td></td>
                    <td></td>
                    <td>цб</td>
                    <td><a href="/edit?id=5b781260ec66154472a15d25">Редактировать</a></td>
                </tr>
            
                <tr>
                    <td>18</td>
                    <td>asd</td>
                    <td>fdsf</td>
                    <td>ff</td>
                    <td></td>
                    <td></td>
                    <td>coz</td>
                    <td><a href="/edit?id=5b796e5dec661555294c7e28">Редактировать</a></td>
                </tr>
            
                <tr>
                    <td>22</td>
                    <td>dfs</td>
                    <td>ff</td>
                    <td>fdf</td>
                    <td></td>
                    <td></td>
                    <td>COZ</td>
                    <td><a href="/edit?id=5b796e68ec661555294c7e29">Редактировать</a></td>
                </tr>
            
                <tr>
                    <td>33</td>
                    <td>1sdasd</td>
                    <td>ffsss</td>
                    <td>ff</td>
                    <td></td>
                    <td></td>
                    <td>COZ</td>
                    <td><a href="/edit?id=5b797264ec66155899bed8df">Редактировать</a></td>
                </tr>
            
                <tr>
                    <td>1</td>
                    <td>Петро</td>
                    <td>Петр</td>
                    <td>нет</td>
                    <td>12321-2323</td>
                    <td>12 мес.</td>
                    <td>COZ</td>
                    <td><a href="/edit?id=5b7d5028ec661565795f8fe7">Редактировать</a></td>
                </tr>
            
                <tr>
                    <td>1</td>
                    <td>aa</td>
                    <td>2</td>
                    <td>2</td>
                    <td>2</td>
                    <td>3</td>
                    <td></td>
                    <td><a href="/edit?id=5b7d6d20ec6615672cba9f17">Редактировать</a></td>
                </tr>
            
                <tr>
                    <td>2zqqq</td>
                    <td>qqqz</td>
                    <td>wz</td>
                    <td>ez</td>
                    <td>rz</td>
                    <td>tz</td>
                    <td>ГБ</td>
                    <td><a href="/edit?id=5b7e84cbec66156ecc1b9dfd">Редактировать</a></td>
                </tr>
            
        </tbody>
        </table>
<script>
        $(document).ready(function() { 
                $(".tablesorter").tablesorter();                 
        } ); 
</script>
        
    <div class="clear"></div>
  </main>
</div>
    <div class="wrapper row5">
    <div id="copyright" class="hoc clear"> 
      
      <p class="fl_left">2018</p>
      <p class="fl_right">Здравоохранение Анапы</p>
      
    </div>
  </div>
  
  
  
  <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
  
  <script src="layout/scripts/jquery.min.js"></script>
  <script src="layout/scripts/jquery.backtotop.js"></script>
  <script src="layout/scripts/jquery.mobilemenu.js"></script>
  </body>
  </html>
  
